global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	chroot /var/lib/haproxy
	stats socket /var/lib/haproxy/stats
	user haproxy
	group haproxy
	daemon
	maxconn	4000


defaults
	log	global
	mode	http
	#option	httplog
	option	dontlognull
	timeout connect 5000
	timeout client  50000
	timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

listen dashboard {{ vip_hostname }}:80
	balance source
	capture cookie vgnvisitor= len 32
	cookie SERVERID insert indirect nocache
	mode http
	option forwardfor
	option httpchk
	option httpclose
	rspidel ^Set-cookie:\ IP=
	server controller1 {{ groups[['controller'][0]][0] }}:80 cookie controller1 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:80 cookie controller2 check inter 2000 rise 2 fall 5	 
	server controller3 {{ groups[['controller'][0]][2] }}:80 cookie controller3 check inter 2000 rise 2 fall 5


listen stats {{ vip_hostname }}:1936
	stats enable
	stats uri /
	stats hide-version
	stats auth qyos:qy_dcos


listen rabbitmq {{ vip_hostname }}:5672
	mode tcp
	balance roundrobin
	timeout connect 5s
	timeout client 100s
	timeout server 100s
	server controller1 {{ groups[['controller'][0]][0] }}:5672 check inter 5s rise 2 fall 3
	server controller2 {{ groups[['controller'][0]][1] }}:5672 check inter 5s rise 2 fall 3
	server controller3 {{ groups[['controller'][0]][2] }}:5672 check inter 5s rise 2 fall 3

	
listen galera {{ vip_hostname }}:3306
	balance source
	mode tcp
	option tcpka
	option mysql-check user haproxy
	server controller1 {{ groups[['controller'][0]][0] }}:3306 check inter 2000 rise 2 fall 5 weight 1
	server controller2 {{ groups[['controller'][0]][1] }}:3306 check inter 2000 rise 2 fall 5 weight 1
	server controller3 {{ groups[['controller'][0]][2] }}:3306 check inter 2000 rise 2 fall 5 weight 1



listen keystone_admin {{ vip_hostname }}:35357
	balance source
	option tcpka
	option httpchk
	maxconn 10000
	server controller1 {{ groups[['controller'][0]][0] }}:35357 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:35357 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:35357 check inter 2000 rise 2 fall 5


listen keystone_api {{ vip_hostname }}:5000
	balance source
	option tcpka
	option httpchk
	maxconn 10000
	server controller1 {{ groups[['controller'][0]][0] }}:5000 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:5000 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:5000 check inter 2000 rise 2 fall 5


listen glance-api {{ vip_hostname }}:9292
	balance source
	option tcpka
	option httpchk
	maxconn 10000
	server controller1 {{ groups[['controller'][0]][0] }}:9292 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:9292 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:9292 check inter 2000 rise 2 fall 5

listen glance-registry {{ vip_hostname }}:9191
	balance source
	option tcpka
	#option httpchk
	maxconn 10000
	server controller1 {{ groups[['controller'][0]][0] }}:9191 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:9191 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:9191 check inter 2000 rise 2 fall 5

listen nova_ec2 {{ vip_hostname }}:8773
	balance source
	option tcpka
	#option httpchk
	maxconn	10000
	server controller1 {{ groups[['controller'][0]][0] }}:8773 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:8773 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:8773 check inter 2000 rise 2 fall 5


listen nova_osapi {{ vip_hostname }}:8774
	balance source
	option tcpka
	option httpchk
	maxconn 10000
	server controller1 {{ groups[['controller'][0]][0] }}:8774 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:8774 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:8774 check inter 2000 rise 2 fall 5


listen nova_metadata {{ vip_hostname }}:8775
	balance source
	option tcpka
	option httpchk
	maxconn 10000
	server controller1 {{ groups[['controller'][0]][0] }}:8775 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:8775 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:8775 check inter 2000 rise 2 fall 5


listen novnc {{ vip_hostname }}:6080
	balance source
	option tcpka
	maxconn 10000
	server controller1 {{ groups[['controller'][0]][0] }}:6080 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:6080 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:6080 check inter 2000 rise 2 fall 5


listen cinder_api {{ vip_hostname }}:8776
	balance source
	option tcpka
	option httpchk
	option tcplog
	server controller1 {{ groups[['controller'][0]][0] }}:8776 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:8776 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:8776 check inter 2000 rise 2 fall 5


listen neutron_api {{ vip_hostname }}:9696
	balance source
	option tcpka
	option httpchk
	option tcplog
	server controller1 {{ groups[['controller'][0]][0] }}:9696 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:9696 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:9696 check inter 2000 rise 2 fall 5


listen heat_api_cluster {{ vip_hostname }}:8004
	balance source
	option  tcpka
	option  httpchk
	option  tcplog
	server controller1 {{ groups[['controller'][0]][0] }}:8004  check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:8004  check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:8004  check inter 2000 rise 2 fall 5

listen heat_cf_api_cluster {{ vip_hostname }}:8000
	balance source
	option  tcpka
	option  httpchk
	option  tcplog
	server controller1 {{ groups[['controller'][0]][0] }}:8000  check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:8000  check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:8000  check inter 2000 rise 2 fall 5


listen ceilometer_api {{ vip_hostname }}:8777
	balance source
	option tcpka
	option tcplog
	server controller1 {{ groups[['controller'][0]][0] }}:8777 check inter 2000 rise 2 fall 5
	server controller2 {{ groups[['controller'][0]][1] }}:8777 check inter 2000 rise 2 fall 5
	server controller3 {{ groups[['controller'][0]][2] }}:8777 check inter 2000 rise 2 fall 5


listen swift_proxy_cluster {{ vip_hostname }}:8080
        balance source
        option tcpka
        option tcplog
        server controller1 {{ groups[['controller'][0]][0] }}:8080 check inter 2000 rise 2 fall 5
        server controller2 {{ groups[['controller'][0]][1] }}:8080 check inter 2000 rise 2 fall 5
        server controller3 {{ groups[['controller'][0]][2] }}:8080 check inter 2000 rise 2 fall 5

listen  mongos {{ vip_hostname }}:27023
        mode tcp
        balance source
        option tcpka
        server controller1 {{ groups[['controller'][0]][0] }}:27022 check inter 2000 rise 2 fall 5
        server controller2 {{ groups[['controller'][0]][1] }}:27022 check inter 2000 rise 2 fall 5
        server controller3 {{ groups[['controller'][0]][2] }}:27022 check inter 2000 rise 2 fall 5





