
global_defs {
  router_id {{ hostname }}
}

vrrp_script haproxy {
  script "killall -0 haproxy"
  interval 2
  weight -2
}

vrrp_instance 60 {
  virtual_router_id 60
  advert_int 1
  priority 101
  state BACKUP
  nopreempt
  interface {{ mng_inf_name }}
  virtual_ipaddress {
    {{ vip_addr }} dev {{ mng_inf_name }}
  }
  unicast_src_ip  {{ groups[['controller'][0]][0] }}
  unicast_peer {
    {{ groups[['controller'][0]][1] }}
    {{ groups[['controller'][0]][2] }}
  }

  track_script {
    haproxy
  }

}

