
global_defs {
  router_id {{ hostname }}
}

vrrp_script haproxy {
  script "killall -0 haproxy"
  interval 2
  weight -2
}

vrrp_instance 60 {
  virtual_router_id 60
  advert_int 1
  priority 101
  state BACKUP
  nopreempt
  interface {{ mng_inf_name }}
  virtual_ipaddress {
    {{ controller_ipaddr }} dev {{ mng_inf_name }}
  }
#  unicast_src_ip  {{ controller1_ipaddr }}
#  unicast_peer {
#    {{ controller3_ipaddr }}
#    {{ controller2_ipaddr }}
#  }

  track_script {
    haproxy
  }

}

