[DEFAULT]
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
iscsi_helper = tgtadm
volume_name_template = volume-%s
volume_group = cinder-volumes
verbose = True
auth_strategy = keystone
state_path = /var/lib/cinder
lock_path = /var/lock/cinder
volumes_dir = /var/lib/cinder/volumes

auth_strategy = keystone
my_ip = {{ ansible_default_ipv4.address }}
glance_host = {{ glance_hostname }}
osapi_volume_listen = {{ hostname }}

glance_api_version = 2

rpc_backend = rabbit

[oslo_messaging_rabbit]
rabbit_host = {{ controller }}
rabbit_userid = {{ rabbit_userid }}
rabbit_password = {{ rabbit_pass }}

notification_driver = messagingv2

[keymgr]
encryption_auth_url = http://{{ keystone_hostname }}:5000/v3

[oslo_concurrency]
lock_path = /var/lock/cinder

[keystone_authtoken]
auth_uri = http://{{ keystone_hostname }}:5000
auth_url = http://{{ keystone_hostname }}:35357
auth_host = {{ keystone_hostname }}
auth_port = 35357
auth_protocol = http
auth_plugin = password
project_domain_id = default
user_domain_id = default
project_name = service
username = cinder
password = {{ cinder_pass }}


[database]
connection = mysql://{{ cinder_db_user }}:{{ cinder_db_pass }}@{{ controller }}/{{ cinder_db_name }}


