127.0.0.1	localhost

{{ controller_ipaddr }}	 controller
{{ controller1_ipaddr }} controller1
{{ controller2_ipaddr }} controller2
{{ controller3_ipaddr }} controller3
{{ compute1_ipaddr }}	 compute1
{{ compute2_ipaddr }}    compute2



# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
